@charset "UTF-8";
/*css 初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {margin: 0;padding: 0;}
fieldset,img,input,button {border: none; padding: 0; margin: 0;outline-style: none; }
ul, ol {list-style: none;}
input { padding-top: 0; padding-bottom: 0; font-family: "SimSun","宋体"; }/*根据实际情况调整所需的字体*/
select,input { vertical-align: middle;}
/*select,input,textarea {font-size: 12px; margin: 0;}*/
textarea {resize: none;} /*防止拖动*/
img {border: 0;vertical-align: middle;} /* 去掉图片低侧默认的3像素空白缝隙 */
table {border-collapse: collapse;}
h1,h2,h3,h4,h5,h6{text-decoration: none;font-weight: normal;font-size: 100%;}
s,i,em{font-style: normal;text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after{display:block;clear:both;visibility:hidden;height:0;content:'';}
.clearfix{zoom:1;}/*IE/7/6*/


/*CSS重置用于取消浏览器的内置样式 初始化样式*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}*/
