html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.viewport {
    width: 500%;
    height: 100%;
    display: -webkit-box;
    overflow: hidden;
    /* point-event:none; 去掉这句话 是元素的target点击事件失效 */
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    position: relative;
}

.pageview {
    -webkit-box-flex: 1;
}

.pagenumber{
    display: -webkit-box;
    position: absolute;
    bottom: 2em;
    left: 35%;
    height: 2em;
    width: 30%;
}

.pagenumber div{
    -webkit-box-flex: 1;
    position: relative;
}

.pagenumber div:after {
    content: "";
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255,.5);
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.2em;
    margin-left: -0.2em;
}

.master-test{
    color: yellow;
}