<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-Hello World</title>
</head>
<body>
<div id="app">
    <p>{{message}}</p>
    <input type="text" v-model="message" />
    <div>
        <h1>Hello,Vue js!</h1>
        <h1 v-if="yes">Yes!</h1>
        <h1 v-show="no">No!</h1>
        <h1 v-if="age >= 25">Age:{{age}}</h1>
        <h1 v-if="name.indexOf('jack') >=0">Name:{{name}}</h1>
    </div>

    <div>
        <h1 v-if="score >= 80">Score: {{score}}</h1>
        <h1 v-else>name: {{name}}</h1>
        <h1>--------------------分割线--------------------</h1>
        <!--<h1 v-show="name.indexOf('keep') >=0">name: {{name}}</h1>
        <h1 v-else="">Sex: {{sex}}</h1>-->
    </div>

    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
        </thead>
        <tbody>
            <tr v-for="person in people">
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.sex}}</td>
            </tr>
        </tbody>
    </table>

    <!--简单组件-->
    <my-component></my-component>

    <!--嵌套组件(父子关系)-->
    <parent-component></parent-component>

    <div id="dymamicBox" style="margin: 20px 0">
        <button id="home" @click="clickHome">首页</button>
        <button id="posts" @click="clickPosts">发起页</button>
        <button id="archive" @click="clickArchive">存档页</button>
        <br>
        <component :is="currentView"></component>
    </div>

    <div>
        <span>父组件：</span><br>
        <p>{{total}}</p>
        <span>子组件：</span><br>
        <button-counter @increment="incrementTotal"></button-counter>
        <button-counter @increment="incrementTotal"></button-counter>
    </div>

    <!--<div>
        <parent></parent>
    </div>

    <template id="parent-template">
        <div>
            <span>父组件的数据是: </span>-&ndash;&gt; {{parentMsg}}
            <child></child>
        </div>
    </template>

    <template id="child-template">
        <div>
            <span>子组件的数据是: </span>-&ndash;&gt; {{childMsg}}
            <button>发送</button>
        </div>
    </template>-->

    <div>
        <parent></parent>
    </div>

    <div>
        <fruit-parent>
            <div>
                <ul>
                    <li>苹果</li>
                    <li>香蕉</li>
                    <li>橙子</li>
                </ul>
            </div>
        </fruit-parent>
    </div>

    <div>
        <fruit-parent2>
            <div>
                <ul slot="fruit-slot">
                    <li>苹果</li>
                    <li>香蕉</li>
                    <li>橙子</li>
                </ul>
                <ul slot="turnip-slot">
                    <li>白萝卜</li>
                    <li>红萝卜</li>
                    <li>绿萝卜</li>
                </ul>
            </div>
        </fruit-parent2>
    </div>






    <div>
        <button v-on:click="sayHello">Say Hello</button>
        <button @click="sayGoodBye">Say GoodBye</button>
    </div>
</div>

<template id="parent-template">
    <div>
        <span>父组件的数据是：</span>  ---> {{parentMsg}}
        <!--自定义事件名如果写成驼峰命名法，就无法获取数据也不报错-->
        <child @get-message="getChildMsg"></child>
    </div>
</template>

<template id="child-template">
    <div>
        <span>子组件的数据是：</span>  ---> {{childMsg}}
        <button @click="sendParentMsg">发送</button>
    </div>
</template>
<template id="fruit">
    <div>
        <h1>水果，水果，在哪里？</h1>
        <slot></slot>
    </div>
</template>
<template id="fruit-second">
    <div>
        <h1>水果插槽翻版？</h1>
        <slot name="fruit-slot">这是默认情况</slot>
        <slot></slot>
        <slot name="turnip-slot">这是默认情况2</slot>
    </div>
</template>
<script src="../js/lib/vue.js"></script>
<script src="../js/vue-1.js"></script>
</body>
</html>